name: Test
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Check formatting
        run: |
          files=$(go run golang.org/x/tools/cmd/goimports -l -local "github.com/G-Research" .)
          if [[ $files != "" ]]; then
            echo "Files need goimports running on them:"
            echo "$files"
            exit 1
          fi

      - name: Build binary
        run: |
          go build ./cmd/...

      - name: Check flags are documented
        run: |
          ./test/flags-doc.sh

      - name: Run tests
        run: |
          go test ./...